.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

@media screen and (min-width: 900px) {
    .card-container{
        display: flex;
        flex-direction: row;
        max-width: 900px;
        height: 500px;
    }

    /* .card, .card-container{
        height:100%;
    } */
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    html, body {
        margin: 0;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

:root{
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
}

body{
    background-color: var(--gray);
    padding: 3em 1.25em;
}

p{
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
}


h2{
    color: var(--gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    margin: 0.75em 0;
}

a {
    display: inline-block;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid var(--gray);
    padding: 0.8em 1.75em;
    background-color: var(--gray);
    border-radius: 5em;
    margin-top: 0.5em;

}

.card a:hover {
    background-color: transparent;
    color: var(--gray);
}

.card-container{
    border-radius: 0.5em;
    overflow: hidden;
}

.card{
    padding: 2.75em;
}

.sedan-card {
    background-color: var(--orange);
}

.sedan-card a {
    color: var(--orange);
}

.suv-card {
    background-color: var(--cyan);
}

.suv-card a {
    color: var(--cyan);
}

.luxury-card {
    background-color: var(--dark-cyan);
}

.luxury-card a {
    color: var(--dark-cyan);
}